$body-text-color: var(--dse-body-text-color, $primary) !default;
$body-bg-color: var(--dse-body-text-color, #fff) !default;
$btn-primary: var(--des-btn-primary, gray) !default;
$btn-bg-primary: var(--des-btn-bg-primary, gray) !default;
$btn-hover-primary: var(--des-btn-hover-primary, gray) !default;